# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Others
.DS_*
.directory
.idea/

# Build directories
build*
install*

# Log files
*.log

# usr cmake
CMakeLists.txt.user

# Python package meta info
Python/DatasetUtilsPackage/DatasetUtils.egg-info
Examples/Python/shapeworksPortalLogin.txt

__pycache__/
