addict==2.4.0
annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
backcall==0.2.0
backrefs==5.9
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
bokeh==3.8.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.2.1
click-pathlib==2020.3.13.0
colorama==0.4.6
colorcet==3.1.0
comm==0.2.3
ConfigArgParse==1.7.1
contourpy==1.3.3
cycler==0.12.1
dash==3.2.0
DataAugmentationUtils @ file:///home/amorris/sci/shapeworks/Python/DataAugmentationUtilsPackage
DatasetUtils @ file:///home/amorris/sci/shapeworks/Python/DatasetUtilsPackage
debugpy==1.8.16
decorator==5.2.1
DeepSSMUtils @ file:///home/amorris/sci/shapeworks/Python/DeepSSMUtilsPackage
defusedxml==0.7.1
django-s3-file-field-client==0.3.2
docopt==0.6.2
DocumentationUtils @ file:///home/amorris/sci/shapeworks/Python/DocumentationUtilsPackage
entrypoints==0.4
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.13.1
Flask==3.1.2
fonttools==4.59.2
fqdn==1.5.1
fsspec==2024.6.1
ghp-import==2.1.0
griffe==1.14.0
grip==4.6.2
h11==0.16.0
hotelling==0.5.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
imageio==2.37.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
ipycanvas==0.14.1
ipydatawidgets==4.3.5
ipyevents==2.0.4
ipykernel==6.30.1
ipympl==0.9.7
ipython==9.5.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
ipyvtk-simple==0.1.4
ipyvtklink==0.2.3
ipywidgets==8.1.7
isoduration==20.11.0
itk==5.4.4.post1
itk-core==5.4.4.post1
itk-elastix==0.23.0
itk-filtering==5.4.4.post1
itk-io==5.4.4.post1
itk-meshtopolydata==0.11.1
itk-numerics==5.4.4.post1
itk-registration==5.4.4.post1
itk-segmentation==5.4.4.post1
itkwidgets==0.32.4
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.2
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.5.1
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.11.2
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupytext==1.14.7
kiwisolver==1.4.9
lark==1.2.2
light_the_torch==0.8.0
lxml==6.0.1
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
mbpls==1.0.4
mdit-py-plugins==0.5.0
mdurl==0.1.2
mdutils==1.8.0
mergedeep==1.3.4
mike==2.1.3
mistune==0.8.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.3
mkdocs-get-deps==0.2.0
mkdocs-jupyter==0.25.1
mkdocs-material==9.6.20
mkdocs-material-extensions==1.3.1
mkdocstrings==0.30.0
mkdocstrings-python==1.18.2
MONAILabel @ file:///home/amorris/sci/shapeworks/Python/MONAILabelPackage
mpmath==1.3.0
narwhals==2.5.0
nbclassic==1.3.2
nbclient==0.10.2
nbconvert==6.5.4
nbformat==5.10.4
nbstripout==0.8.1
nest-asyncio==1.6.0
networkx==3.3
notebook==6.4.12
notebook_shim==0.2.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_numpy_1757505242/work/dist/numpy-2.3.3-cp312-cp312-linux_x86_64.whl#sha256=ef1004c1ea415b83397498d17fee088831d0230bf0e7e60660a35c68c33f778f
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
open3d-cpu==0.19.0
openpyxl==3.1.5
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
paginate==0.5.7
pandas==2.3.2
pandocfilters==1.5.1
param==2.2.1
parso==0.8.5
path-and-address==2.0.1
pathspec==0.12.1
patsy==1.0.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
platformdirs==4.4.0
plotly==6.3.0
pooch==1.8.2
prometheus_client==0.22.1
prompt_toolkit==3.0.52
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11 @ file:///D:/bld/bld/rattler-build_pybind11_1755953378/work
pybind11-global @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pybind11-global_1755953338/work
pycparser==2.23
pyct==0.5.0
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.19.2
pymdown-extensions==10.16.1
pyparsing==3.2.4
pyquaternion==0.9.9
pyrsistent==0.20.0
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
python-markdown-math==0.9
pytz==2025.2
pyvista==0.46.3
pyxdg==0.28
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.5
requests-toolbelt==1.0.0
retrying==1.4.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rpds-py==0.27.1
scikit-learn==1.7.2
scipy==1.16.2
scooby==0.10.1
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==80.9.0
ShapeCohortGen @ file:///home/amorris/sci/shapeworks/Python/ShapeCohortGenPackage
shapely==2.1.1
shapeworks @ file:///home/amorris/sci/shapeworks/Python/shapeworks
simpleitk==2.5.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
spm1d==0.4.53
stack-data==0.6.3
statsmodels==0.14.5
swcc==1.1.0
sympy==1.13.3
termcolor==3.1.0
terminado==0.18.1
threadpoolctl==3.6.0
tinycss2==1.4.0
toml==0.10.2
torch==2.8.0+cu126
torchaudio==2.8.0+cu126
torchvision==0.23.0+cu126
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.1
trimesh==4.8.1
triton==3.4.0
types-python-dateutil==2.9.0.20250822
typing-inspection==0.4.1
typing_extensions==4.15.0
tzdata==2025.2
uri-template==1.3.0
urllib3==2.5.0
verspec==0.1.0
vtk==9.5.1
watchdog==6.0.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.45.1
widgetsnbextension==4.0.14
xyzservices==2025.4.0
zipp==3.23.0
zstandard==0.25.0
