annotated-types==0.5.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.0.0
blinker==1.6.2
bokeh==2.4.3
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==2.0.12
click==8.1.3
click-pathlib==2020.3.13.0
colorama==0.4.5
colorcet==3.0.1
comm==0.1.3
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
django-s3-file-field-client==0.3.2
docopt==0.6.2
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing==1.2.0
fastjsonschema==2.17.1
Flask==2.3.2
fonttools==4.43.0
fqdn==1.5.1
ghp-import==2.1.0
griffe==0.27.3
grip==4.6.1
hotelling==0.5.0
idna==3.7
imageio==2.31.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipycanvas==0.13.1
ipydatawidgets==4.3.5
ipyevents==2.0.1
ipykernel==6.24.0
ipympl==0.9.3
ipython==8.14.0
ipython-genutils==0.2.0
ipyvtk-simple==0.1.4
ipyvtklink==0.2.2
ipywidgets==7.7.1
isoduration==20.11.0
itk==5.3.0
itk-core==5.3.0
itk-elastix==0.16.0
itk-filtering==5.3.0
itk-io==5.3.0
itk-meshtopolydata==0.10.0
itk-numerics==5.3.0
itk-registration==5.3.0
itk-segmentation==5.3.0
itkwidgets==0.32.1
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.3
joblib==1.3.1
jsonpointer==2.4
jsonschema==4.18.0
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.5.1
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.6.3
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.11.2
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.8
jupytext==1.14.7
kiwisolver==1.4.4
light-the-torch==0.7.5
lxml==4.9.3
Markdown==3.3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.5.2
matplotlib-inline==0.1.6
mbpls==1.0.4
mdit-py-plugins==0.4.0
mdurl==0.1.2
mdutils==1.4.0
mergedeep==1.3.4
mike==1.1.2
mistune==0.8.4
mkdocs==1.3.0
mkdocs-autorefs==0.4.1
mkdocs-jupyter==0.21.0
mkdocs-material==8.3.8
mkdocs-material-extensions==1.1.1
mkdocstrings==0.19.0
mkdocstrings-python==0.7.1
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==6.5.4
nbformat==5.9.0
nbstripout==0.5.0
nest-asyncio==1.5.6
notebook==6.4.12
notebook_shim==0.2.3
numpy==1.22.4
openpyxl==3.1.2
overrides==7.3.1
packaging==23.1
pandas==2.0.3
pandocfilters==1.5.0
param==1.13.0
parso==0.8.3
path-and-address==2.0.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.3.0
platformdirs==3.8.0
prometheus-client==0.17.0
prompt-toolkit==3.0.39
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pyct==0.5.0
pydantic==1.10.13
Pygments==2.15.1
pymdown-extensions==10.0
pyparsing==3.1.0
pyrsistent==0.19.3
python-dateutil==2.8.2
python-json-logger==2.0.7
python-markdown-math==0.8
pytz==2023.3
pyvista==0.43.4
pyxdg==0.28
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==25.1.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
scikit-learn==1.1.1
scipy==1.11.1
scooby==0.7.2
seaborn==0.11.2
Send2Trash==1.8.2
Shapely==1.8.2
SimpleITK==2.1.1.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
spm1d==0.4.22
stack-data==0.6.2
statsmodels==0.13.2
swcc==1.0.5
termcolor==1.1.0
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tornado==6.3.3
tqdm==4.65.0
traitlets==5.9.0
traittypes==0.2.1
trimesh==3.12.6
typing_extensions==4.5.0
tzdata==2023.3
uri-template==1.3.0
urllib3==1.26.18
verspec==0.1.0
vtk==9.1.0
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==3.0.3
widgetsnbextension==3.6.4
zipp==3.15.0
zstandard==0.21.0
